*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background: var(--BG_body);
    background-color: #4D4A1F;

}

#root{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 15rem;
}



@media (orientation: portrait) {
    html,body{
        height: 100vh;
    }
}

@media (orientation: landscape) and (max-width: 1024px) {
    html,body{
        height: 100vh;
    }
}