:root{
    --header_height:4rem;
    --font:"Cinzel",sans-serif;
    --border:#8d844d;
    --text:#8d844d;
    --color1:#4D4A1F;
    --color2:#273022;
    --hover_color:rgba(26, 14, 5, 0.5);
    --header_bg:radial-gradient(circle,#4D4A1F 50%, #273022 100%);
--BG_body: linear-gradient(
  to bottom,
  #3a2616,
  #241509,
  #120904
);
}





@media (orientation: portrait) {
  :root{
    --header_height:2rem;
  }
}


@media (orientation: landscape) and (max-width: 1024px) {
    :root{
    --header_height:2rem;
  }
}