.aside{
    z-index: 15;
    position: absolute;
    height: 100%;
    left: 0;
    width: var(--nav_width);
    background: var(--color-header-bg);
    overflow-y: hidden;
    border-right: solid 2px var(--color-text);
    padding: 0.5rem;
    gap: 0.5rem;

    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.aside:hover{
    width: 15rem;
}

.aside .Menu{
    display: flex;
    gap: 0.5rem;
    height: 3rem;   
    background: none;
    aspect-ratio: 1/1;
    color: var(--color-text);
    border: solid 2px transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.aside .Menu:hover{
    background: var(--color-dropdown-hover) ;
}

.aside .Menu #icon{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: rgba(0, 255, 255, 0);
}

.aside:hover .Menu #text{
    visibility: visible;
    opacity: 1;
}

.aside .Menu #text{
    display: flex;
    align-items: center;
    font-family: "Cinzel",serif;
    height: 100%;
    width: 100%;
    background-color: rgba(137, 43, 226, 0);
    transition: all 0.3s ease-in-out 0.1s;
    visibility: hidden;
    opacity: 0;
}


.aside:hover .Menu #arrow{
    visibility: visible;
    opacity: 1;
}

.aside .Menu #arrow{
    height: 100%;
    aspect-ratio: 1/1;
    padding: 0.5rem;
    background-color: rgba(0, 0, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out 0.3s;
}