.aside{
    box-sizing: inherit;
    position: absolute;
    width: var(--nav_width);
    background: var(--color-header-bg);
    border-right: solid 2px var(--color-border);
    z-index: 15;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.aside:hover{
    overflow: visible;
    width: 16rem;
}


.aside button{
    position: relative;
    width: 100%;
    height: var(--nav_width);
    display: flex;
    background: none;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
    border-right: none;
    border-left: none;
    color: var(--color-text);
    font-family: var(--font);   
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-sizing: initial;
}

.aside button:first-child{
    border-top: none;
}

.aside button:last-child{
    border-bottom: none;
    margin-top: auto;
}


.aside button:hover{
    background: var(--color-dropdown-hover);
    border-top-color: var(--color-border);
    border-bottom-color: var(--color-border);
}


.aside button #icon{
    padding: 5px;
    height: 100%;
    aspect-ratio: 1/1;
}

.aside button #text{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    visibility: hidden;
    opacity: 0;
    transition:  all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.aside button #text h1{
    text-align: center;
}

.aside button #arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 255, 0);
    visibility: hidden;
    opacity: 0;
    transform: translateX(-10px) rotate(-90deg); /* départ légèrement décalé et tourné */
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease-in-out 0.1s;
}

.aside button #arrow svg{
    scale: 50%;
}

.aside:hover button #text{
    display: flex;
    visibility: visible;
    opacity: 1;

}

.aside:hover button #arrow {
    visibility: visible;
    opacity: 1;
    transform: translateX(0) rotate(0deg); /* revient à sa position normale et tourne */
}


.aside button:hover .submenu{
    display: flex;
}



.submenu {
    box-sizing: initial;
    position: absolute;
    height: fit-content;
    width: fit-content;
    background: var(--color-header-bg);
    left: 100%;
    top: -2px;
    bottom: 0px;
    border: solid 2px var(--color-border);
    flex-direction: column;
    display: none;
}


.submenu button{
    width: 10rem;
    box-sizing: border-box;
    font-size: small;
    height: fit-content;
    z-index: 20;
}
.submenu span{
    padding: 0.5rem;
}
.submenu span:last-child{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}