.aside{
    box-sizing: inherit;
    position: absolute;
    width: var(--nav_width);
    background: var(--color-header-bg);
    border-right: solid 2px var(--color-border);
    z-index: 15;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.aside:hover{
    overflow: visible;
    width: 16rem;
}

