.Asidecontainer {
    position: absolute;
    left: -50%;
    width: 50%;
    top: 0;
    bottom: 0;
    background: var(--color_aside_bg);
    border-right: solid 2px var(--color_border);
    transition: left 0.3s ease-in-out;
}

.Asidecontainer.open {
    left: 0;
}


/* Burger */
.burger {
    position: absolute;
    left: calc(100% + 2px);
    height: calc(var(--header_height) + 2px);
    top: calc( var(--header_height) - 2px);
    aspect-ratio: 1/1;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border: solid 2px var(--color_border);
    border-left: none;
    background-color: var(--color_dropdown_hover);
    color: var(--color_border);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.burger svg{
    transition: all 0.2s ease-in-out;
}

.Asidecontainer.open .burger svg{
    rotate: 180deg;
}

/* Aside (menu) */
.aside {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Main item wrapper */
.main {
    height: fit-content;
 }

/* Menu line */
.menu { 
    height: var(--header_height);
    display: flex;
        border: none;
    border-bottom: solid 2px var(--color_border);
 }

.main:last-child{
    border-top: solid 2px var(--color_border);
    margin-top:auto;
}

/* Button of menu line */
.menuBTN {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color_text);
    background: none;
    border: none;
 }

 .menuBTN span{
    height: 100%;
    display: flex;
    align-items: center;
 }

 .menuBTN #icon{
    aspect-ratio: 1/1;
 }

 .menuBTN #text{
    font-family: var(--font);
    font-size: clamp(0.5rem, 1.5rem , 75%);
    color: var(--color_text);
 }


/* Arrow button */
.arrow {
    height: 100%;
    aspect-ratio: 1/1;
    color: var(--color_border);
    background: none;
    border: none;
 }


.arrow.open svg{
    rotate: 90deg;
}
.arrow svg { 
    transition: all 0.2s ease-in-out;
}

/* Submenu container */
.submenu {
    overflow: hidden;
    max-height: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.2s ease;
}

.submenu.open {
    max-height: 20rem; /* assez grand pour contenir les boutons */
    opacity: 1;
}

/* Submenu button */
.subbtn {
    height: var(--header_height);
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    
}

/* Boutons visibles quand ouvert */
.submenu.open .subbtn {
    opacity: 1;
    transform: translateY(0);
    font-family: var(--font);
    background: none;
    border: none;
    color: var(--color_text);
        border: none;
    border-bottom: solid 1px var(--color_border);
    background-color: rgba(0, 0, 0, 0.5);
}
.subbtn h2 {
  position: relative;
  z-index: 2;
}

.submenu.open .subbtn:nth-child(1) { transition-delay: 0.05s; }
.submenu.open .subbtn:nth-child(2) { transition-delay: 0.10s; }
.submenu.open .subbtn:nth-child(3) { transition-delay: 0.15s; }
.submenu.open .subbtn:nth-child(4) { transition-delay: 0.20s; }
.submenu.open .subbtn:nth-child(5) { transition-delay: 0.25s; }
.submenu.open .subbtn:nth-child(6) { transition-delay: 0.35s; }
.submenu.open .subbtn:nth-child(7) { transition-delay: 0.40s; }
.submenu.open .subbtn:nth-child(8) { transition-delay: 0.55s; }
.submenu.open .subbtn:nth-child(9) { transition-delay: 0.60s; }
.submenu.open .subbtn:nth-child(10) { transition-delay: 0.65s; }




@media (orientation: landscape) {
    .Asidecontainer{
        width: 25%;
        left: -25%;
    }
    .burger{
        height: calc(var(--header_height_portr) + 2px);
    }
    .menu{
        height: var(--header_height_portr);
    }
}