.aside{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    left: 0;
    background-color: brown;
}

.burger{
    position: absolute;
    top: var(--header_height);
    height: var(--header_height);
    aspect-ratio: 1/1;
    left: 100%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}