.aside{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0rem;
    left: 0;
    background-color: brown;
    transition: all 0.2s ease-in-out;
}
.open{
    width: 50%;
}

.burger{
    position: absolute;
    top: var(--header_height);
    height: var(--header_height);
    aspect-ratio: 1/1;
    left: 100%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}