.content{
    position: relative;
    width: 100%;
    height: calc(100% - var(--header_height));
    background-color: var(--color_bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (orientation: landscape) {
    .content{
        position: relative;
        width: 100%;
        height: 100%;
        background-color: var(--color_bg);
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
}