.header{
    width: 100%;
    background: var(--color-header-bg);
    height: var(--header_height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px var(--color-border);
}

.header h1{
    color: var(--color-text);
    font-family: var(--font);
    font-size: clamp(1.2rem, 4.5vw, 2rem);
}

.header div{
    color: var(--color-text);
    height: 100%;
    border-right: solid 2px var(--color-border);
}
.header div:last-child{
    transform: scaleX(-1);
}