.header{
  position: relative;
    height: var(--header_height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header_bg);
    border-bottom: solid 2px var(--border);
}

.header h1{
    font-size: clamp(1rem,4vw,2.5rem);
    font-family: var(--font);
    color: var(--text);
}

.header div{
    height: 100%;
    color: var(--border);
    border-right:solid 2px var(--border) ;
    padding: 5px;
}

.header div:last-child{
    transform: scaleX(-1);
}





@media (orientation: portrait) {
  .header div{
    padding: 1px;
  }
  .header h1{
    font-size: clamp(1rem,5vw,2rem);
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
    .header div{
    padding: 1px;
  }
  .header h1{
    font-size: clamp(1rem,4vw,1.5rem);
  }
}