.header{
    height: var(--header_height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header_bg);
    border-bottom: solid 2px var(--border);
}

.header h1{
    font-size: clamp(1rem,4vw,2.5rem);
    font-family: var(--font);
    color: var(--text);
}

.header div{
    height: 100%;
    color: var(--border);
    border-right:solid 2px var(--border) ;
    padding: 5px;
}

.header div:last-child{
    transform: scaleX(-1);
}