.header{
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    height: var(--header_height);
    background: var(--header_bg);
    border: solid 2px var(--border);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header div{
    padding: 5px;
    height: 100%;
    border-right: solid 2px var(--border);
}

.header div:last-child{
    transform: scaleX(-1);
}

.header h1{
    font-family: var(--font);
    color: var(--text);
    font-size: clamp(1rem,4vw,2.5rem);
}

.header div svg{
    color: var(--text);
}

