.header {
    height: var(--header_height);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--color-header-bg);
    border-bottom: 2px solid var(--color-border);
    transition: all 0.2s ease-in-out;
    z-index: 15;
}

.title {
    font-family: var(--font);
    color: var(--color-text);
    font-size: clamp(1.2rem, 4vw, 2rem);
}

.header div{
    height: 100%;
    width: var(--nav_height);
    color: var(--color-text);
    padding: 2px;
    border-right: solid 2px var(--color-border);
}

.header div:last-child{
    transform: scaleX(-1);
}


@media (max-width: 768px) {
    .header{
        height: var(--header_height);
    }
}