* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
}

body{
    overflow: auto;
}

#root {
    width: 100%;
    height: 100%;
}
