* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    background: #000000;
    overflow: hidden;
}

body{
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}
