*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background: var(--BG_body);
    background-color: #4D4A1F;
}

#root{
    width: 100%;
    height: 100%;
}

.content{
    width: 100%;
    height: calc(100% - var(--header_height));
}