*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    height: 100%;

}

#root{
    height: 100%;
    overflow: hidden;
}

@media (orientation: landscape) {
    #root{
    height: 100%;
    overflow: auto;
}   
}