:root {
    --color_bg: #372516;
    --color_header_bg: linear-gradient(45deg,#252d22,#54511f,#252d22);
    --color_border: #8d844d;
    --color_text: #8d844d;
    --color_dropdown_bg: #3A261C;
    --color_dropdown-hover: #1a0e0580;

    --font: "Cinzel", serif;
    --radial_grad_bg: radial-gradient(circle,#502d14 0%, #29170a 100%);
    --header_height: 4rem;
    --header_height_portr:2rem;
    --nav_width:4rem;
}

@media (max-width: 768px) {
    :root{
        --header_height: 2rem;
    }
}