/* ===== HEADER ===== */
.header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header_height);
  top: 0.5rem;
  right: 0.5rem;
  left: 0.5rem;

  background: var(--header_bg);
  border-radius: 1rem;
  border: solid 2px var(--border);
  z-index: 100;
}

/* ===== LOGO ===== */
.logo{
  padding: 5px;
  border-right: solid 2px var(--border);
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--border);
}

.logo:last-child{
  transform: scaleX(-1);
}

/* ===== CONTENT ===== */
.content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}


/* ======= Title ========= */
.title{
  background: none;
  padding: 5px;
  border-radius: 1rem;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  font-family: var(--font);
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

.title h1{
  font-size: clamp(1rem,2vw,1.5rem);
}

.title:hover{
  background-color: var(--hover_color);
  border-top: solid 2px var(--border);
  border-bottom: solid 2px var(--border);
}


/* ======= Nav ========= */
.nav{
  position: relative;
  height: 100%;
  width: fit-content;
  gap: 1rem;
  min-width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* ==== MENU ====== */
.Menu{
  height: fit-content;
  position: relative;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

}

.Menubtn{
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in-out;
  background: none;
  border-radius: 1rem;
  border: none;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  color: var(--text);
  padding: 0px 5px;
  gap: 5px;
  cursor: pointer;
}

.Menubtn h2{
  font-family: var(--font);
}

.Menubtn:hover svg,.Menu:hover .Menubtn svg{
  transform: rotate(90deg);
}

.Menubtn:hover,.Menu:hover .Menubtn{
    border-top: solid 2px var(--border);
  border-bottom: solid 2px var(--border);
  background-color: var(--hover_color);
}

.Menubtn span{
  height: 100%;
  aspect-ratio: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menubtn span svg{
  scale: 1.5;
  transition: all 0.2s ease-in-out;
}



.Menu:hover .submenu{
  opacity: 1;
}

.submenu{
  opacity: 0;
  top: 100%;
  position: absolute;
  width: 110%;
  height: fit-content;
  min-height: 1rem;
  border: solid 2px var(--border);
  background: var(--header_bg);
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.subbtn{
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
      border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  background: none;
  font-family: var(--font);
  color: var(--text);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.subbtn:hover{
    border-top: solid 2px var(--border);
  border-bottom: solid 2px var(--border);
  background-color: var(--hover_color);
}


.subbtn:first-child{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.subbtn:last-child{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.subbtn:first-child:hover{
  border-top-color: transparent;
}

.subbtn:last-child:hover{
  border-bottom-color:transparent ;
}

.subbtn h4{
  font-size: clamp(0.5rem,2vw,1rem);
}