/* ===== HEADER ===== */
.header{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header_height);
  top: 0.5rem;
  right: 0.5rem;
  left: 0.5rem;

  background: var(--header_bg);
  border-radius: 1rem;
  border: solid 2px var(--border);
  z-index: 100;
}

/* ===== LOGO ===== */
.logo{
  padding: 5px;
  border-right: solid 2px var(--border);
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--border);
}

.logo:last-child{
  transform: scaleX(-1);
}

/* ===== CONTENT ===== */
.content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}


/* ======= Title ========= */
.title{
  background: none;
  padding: 5px;
  border-radius: 1rem;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  font-family: var(--font);
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

.title:hover{
  background-color: var(--hover_color);
  border-top: solid 2px var(--border);
  border-bottom: solid 2px var(--border);
}


/* ======= Nav ========= */
.nav{
  height: 100%;
  width: fit-content;
  gap: 1rem;
  min-width: 1rem;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* ==== MENU ====== */
.Menu{
  width: fit-content;
  height: 100%;
  display: flex;
}


.Menubtn{
  display: flex;
  height: 100%;
  background: none;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}