/* ================= VARIABLES ================= */
:root {
    --color-bg: #372516;
    --color-header-bg: linear-gradient(45deg,#252d22,#54511f,#252d22);
    --color-border: #8d844d;
    --color-text: #8d844d;
    --color-dropdown-bg: #3A261C;
    --color-dropdown-hover: #1a0e0580;

    --font: "Cinzel", serif;
    --radial-grad-bg: radial-gradient(circle,#502d14 0%, #29170a 100%);
    --header_height: 3.5rem;
}

/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background: black;
    overflow: auto;
}

/* ================= ROOT ================= */
#root {
    width: 100%;
    height: 100%;
}

/* ================= HEADER ================= */
header {
    height: var(--header_height);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    background: var(--color-header-bg);
    border-bottom: 2px solid var(--color-border);
}

header h1 {
    font-family: var(--font);
    color: var(--color-text);
    font-size: clamp(1.2rem, 4vw, 2rem);
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header nav a button {
    padding: 5px;
    background: transparent;
    border: 2px solid transparent;

    font-family: var(--font);
    font-size: large;
    font-weight: bold;
    color: var(--color-text);

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

header nav a button:hover {
    background-color: var(--color-dropdown-bg);
    border-bottom-color: var(--color-text);
}

/* ================= CONTENT ================= */
.content {
    position: absolute;
    top: var(--header_height);
    bottom: 0;
    width: 100%;
    display: flex;
}

/* ================= ASIDE ================= */
.content aside {
    position: absolute;
    inset: 0 auto 0 0;

    width: 4rem;
    padding: 0.5rem;
    gap: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background: var(--color-header-bg);
    border-right: 2px solid var(--color-border);
    overflow: auto;
    overflow-x: hidden;

    transition: width 0.3s ease-in-out;
}

.content aside:hover {
    width: 20rem;
}

/* ================= ASIDE BUTTON ================= */
.content aside button {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 10px;

    background: none;
    border: 2px solid transparent;
    cursor: pointer;

    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.content aside button:hover {
    background-color: var(--color-dropdown-hover);
    border-top-color: var(--color-border);
    border-bottom-color: var(--color-border);
}

/* ================= ICON ================= */
.content aside button #icon {
    height: 100%;
    aspect-ratio: 1 / 1;
    color: var(--color-border);
}

/* ================= TEXT ================= */
.content aside button #text {
    display: flex;
    align-items: center;

    font-family: var(--font);
    color: var(--color-text);

    visibility: hidden;
    opacity: 0;

    transition: opacity 0.2s ease-in-out;
}

/* ================= ARROW ================= */
.content aside button #arrow {
    margin-left: auto;

    height: 50%;
    aspect-ratio: 1 / 1;
    color: var(--color-text);

    visibility: hidden;
    opacity: 0;
    transform: translateX(-5px);

    transition:
        opacity 0.2s linear,
        transform 0.2s ease-in-out;
}

/* ================= SVG ================= */
.content aside button span svg {
    height: 100%;
}

/* ================= ASIDE OPEN STATE ================= */
.content aside:hover button #text {
    visibility: visible;
    opacity: 1;
}

.content aside:hover button #arrow {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.3s;
}

/* ================= LAST BUTTON ================= */
.content aside button:last-child {
    margin-top: auto;
}

/* ================= MAIN ================= */
main {
    width: 100%;
    height: 100%;

    padding: 0.5rem 6rem;
    background: var(--radial-grad-bg);

    display: flex;
    flex-direction: column;
    align-items: center;
}
