*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    width: 100%;
    height: 100%;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

header{
    width: 100%;
    height: 2.5rem;
    background-color: #3A2618;
    border-bottom: solid 2px #C9A24D;
    padding: 0rem 1rem;
}

header h1{
    color: #C9A24D;
    font-family: "Cinzel",serif;
}

main{
    width: 100%;
    height: 100%;
    background-color: #2A1A12;
}
