*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #2A1A12;
}

header{
    width: 100%;
    height: 2.5rem;
    background-color: #3A2618;
    border-bottom: solid 2px #C9A24D;
}