.content{
    position: relative;
    width: 100%;
    height: calc(100vh - var(--header_height));
    background-color: var(--color-bg);
    display: flex;
}

main{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}