*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    width: 100%;
    height: 100%;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

header{
    width: 100%;
    height: 3rem;
    background-color: #3A2618;
    border-bottom: solid 2px #C9A24D;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1{
    color: #C9A24D;
    font-family: "Cinzel",serif;
    font-size: clamp(1.2rem, 4vw, 2rem);
}

main{
    width: 100%;
    height: 100%;
    background-color: #2A1A12;
}
