

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100%;
    height: 100%;
}

#root{
    background-color: #1a0e05;
    width: 100%;
    height: 100%;
}

.Nav {
    box-sizing: border-box;
    width: 4rem;
    height: 100%;
    background-color: #502d14;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: width 0.3s ease-in-out;
    overflow: hidden; /* IMPORTANT */
    padding: 5px;
    gap: 0.5rem;
}

/* bouton */
.stat-btn {
    background-color: transparent;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
    border-radius: 1rem;
    border: none;
    /* background-color: #1a0e05; */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: solid 2px transparent;
}

.stat-btn:hover{
    border-color: #a17845;
    background-color: #1a0e05;
}

/* icône / stat */
.stat-name {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a17845;
}

/* valeur cachée */
.stat-value {
    position: absolute;
    left: 3.5rem;
    width: 100%;
    display: none;
    text-align: start;
    color: #a17845;
    font-family: 'Cinzel', serif;
}

/* nav ouvert */
.Nav:hover {
    display: flex;
    width: 12rem;
}

/* valeur visible */
.Nav:hover .stat-value {
    display: block;
}
