.nav{
    position: fixed;
    top: calc(0.5rem + var(--header_height) + 0.5rem);
    left: 0.5rem;
    bottom: 0.5rem;
    background: var(--header_bg);
    width: var(--header_height);
    border-radius: 1rem;
    border: solid 2px var(--border);
}