.nav{
    position: absolute;
    width: var(--header_height);
    height: calc(100% - var(--header_height));;
    left: 0;
    background: var(--header_bg);
    border-right: solid 2px var(--border);
    transition: all 0.3s ease-in-out;
}


.nav:hover{
    width: calc(var(--header_height) * 4);
}