.Navcontainer{
    position: absolute;
    width: var(--header_height);
    top: 0;
    bottom: 0;
    background: var(--header_bg);
    border-right: solid 2px var(--border);
    transition: all 0.3s ease-in-out;
}


.Navcontainer:hover{
    width: calc(var(--header_height) * 4);
}